<html layout:decorate="~{layout}">

<head></head>

<body>
<div layout:fragment="content" class="container my-3">

    <!--/*
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>속성</th>
            <th>설명</th>
            <th>값</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>paging.isEmpty()</th>
            <td>
                페이지 존재 여부 (게시물이 있으면 false, 없으면 true)
            </td>
            <td>
                [[${paging.isEmpty()}]]
            </td>
        </tr>
        <tr>
            <th>paging.totalElements</th>
            <td>
                전체 게시물 개수
            </td>
            <td>
                [[${paging.totalElements}]]
            </td>
        </tr>
        <tr>
            <th>paging.totalPages</th>
            <td>
                전체 페이지 개수
            </td>
            <td>
                [[${paging.totalPages}]]
            </td>
        </tr>
        <tr>
            <th>paging.size</th>
            <td>
                페이지당 보여줄 게시물 개수
            </td>
            <td>
                [[${paging.size}]]
            </td>
        </tr>
        <tr>
            <th>paging.number</th>
            <td>
                현재 페이지 번호
            </td>
            <td>
                [[${paging.number}]]
            </td>
        </tr>
        <tr>
            <th>paging.hasPrevious</th>
            <td>
                이전 페이지 존재 여부
            </td>
            <td>
                [[${paging.hasPrevious}]]
            </td>
        </tr>
        <tr>
            <th>paging.hasNext</th>
            <td>
                다음 페이지 존재 여부
            </td>
            <td>
                [[${paging.hasNext}]]
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    */-->

    <table class="table">

        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="q, loop : ${paging}">
            <td>
                <a th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"
                   th:href="@{|/question/detail/${q.id}|}"></a>
            </td>
            <td>
                <a th:text="${q.subject}" th:href="@{|/question/detail/${q.id}|}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(q.answerList) > 0}"
                      th:text="${#lists.size(q.answerList)}"></span>
            </td>
            <td th:text="${#temporals.format(q.createDate, 'yy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>


    <nav th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=0|}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number - 1}|}">이전</a>
            </li>
            <li class="page-item" th:classappend="${paging.number == page} ? 'active'"
                th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
                th:if="${page >= paging.number - 5 and page <= paging.number + 5}">
                <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number + 1}|}">다음</a>
            </li>
            <li class="page-item" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.totalPages - 1}|}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>

</div>
</body>

</html>