<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

<h1>
    <span th:text="${id}"></span>번
    질문 상세내용
</h1>

<h2 th:text="${question.subject}"></h2>
<div th:text="${question.content}"></div>

<!--
${#lists.size(리스트)} => 리스트의 size() 함수와 같다고 보시면 됩니다.
<h5 th:text="${#lists.size(question.answerList)}"></h5>
<h5>
    <span th:text="${#lists.size(question.answerList)}"></span>
    개의 답변이 있습니다.
</h5>
-->

<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

<form th:action="@{|/answer/create/${question.id}|}" method="POST">
    <!-- 여러줄 입력이 가능한 input -->
    <div>
        <span>내용</span>
        <br>
        <textarea placeholder="내용" name="content" rows="15"></textarea>
    </div>
    <button type="submit">답변등록</button>
</form>

<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="|${answer.id}번답변 : ${answer.content}|"></li>
    </ul>
</div>